In [182]:
import pandas as pd
import numpy as np

In [183]:
DC_properties_df = pd.read_csv("datasets/DC_Properties.csv")
DC_properties_df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [184]:
DC_properties_df.dtypes;

In [185]:
DC_properties_df.drop(['STORIES', 'NUM_UNITS', 'SALEDATE', 'Unnamed: 0', 'SALE_NUM','QUALIFIED','BLDG_NUM','STYLE'], axis=1, inplace = True)

In [186]:
DC_price = DC_properties_df[DC_properties_df['PRICE'].notnull()]

In [187]:
DC_price.shape

(98216, 41)

In [188]:
DC_realRM_price = DC_price[DC_price['BEDRM']!= 0]
DC_realRM_price.shape

(94405, 41)

In [189]:
DC_real_Count_price = DC_realRM_price[DC_realRM_price['BATHRM']!= 0]
DC_real_Count_price.shape

(94399, 41)

In [190]:
DC_real_Count_price.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'ROOMS', 'BEDRM', 'AYB', 'YR_RMDL',
       'EYB', 'PRICE', 'GBA', 'STRUCT', 'GRADE', 'CNDTN', 'EXTWALL', 'ROOF',
       'INTWALL', 'KITCHENS', 'FIREPLACES', 'USECODE', 'LANDAREA',
       'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM', 'LIVING_GBA', 'FULLADDRESS',
       'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID', 'LATITUDE', 'LONGITUDE',
       'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT', 'CENSUS_BLOCK',
       'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [191]:
pd.pivot_table(DC_real_Count_price, values=['PRICE'], index=['BEDRM','BATHRM'])

                     PRICE
BEDRM BATHRM
1     1       1.887415e+06
      2       2.753084e+06
      3       6.520667e+05
      4       2.539750e+05
2     1       4.706987e+05
      2       7.829985e+05
      3       7.162117e+05
      4       8.532768e+05
3     1       3.094116e+05
      2       5.031922e+05
      3       7.185585e+05
      4       1.013861e+06
      5       2.219800e+06
      6       4.000000e+05
      7       4.217000e+06
4     1       3.397873e+05
      2       5.151250e+05
      3       7.792648e+05
      4       7.937731e+05
      5       1.825532e+06
      6       2.264856e+06
      7       2.450000e+06
      8       7.500000e+05
5     1       3.672648e+05
      2       5.810937e+05
      3       8.937884e+05
      4       1.282628e+06
      5       1.770525e+06
      6       2.704656e+06
      7       2.580000e+06
...                    ...
9     3       5.789950e+05
      4       5.416591e+05
      5       1.513591e+06
      6       6.293000e+06
      7       3.286414e+06
      8       5.405500e+06
      9       8.811935e+06
      10      4.450000e+06
      12      1.225000e+07
10    3       2.503333e+05
      4       4.324734e+05
      5       9.980000e+05
      6       1.147917e+06
      7       7.950000e+05
      11      1.375000e+06
11    3       2.415600e+05
      5       1.400000e+05
      8       4.200000e+05
      9       4.562800e+05
      10      1.700000e+06
      11      1.850000e+06
12    2       2.100000e+05
      4       4.353146e+05
      5       2.330000e+05
      6       2.665080e+05
      7       2.396029e+07
13    6       4.425000e+05
14    4       9.250000e+05
15    10      1.105000e+06
20    10      1.900000e+06

[90 rows x 1 columns]

In [192]:
DC_real_Count_price['PRICE'].max()

137427545.0

In [193]:
DC_real_Count_price['PRICE'].median()

415000.0

In [194]:
DC_real_Count_price['PRICE'].mode()

0    350000.0
dtype: float64

In [195]:
DC_real_Count_price['BEDRM'].median()

3.0

In [196]:
DC_real_Count_price['BEDRM'].mode()

0    3
dtype: int64

In [197]:
DC_real_Count_price['BATHRM'].median()

2.0

In [198]:
DC_real_Count_price['BATHRM'].mode()

0    1
dtype: int64

In [199]:
DC_real_Count_price.describe()

,BATHRM,HF_BATHRM,ROOMS,BEDRM,AYB,YR_RMDL,EYB,PRICE,GBA,KITCHENS,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,94399.000000,94399.000000,94399.000000,94399.000000,94289.000000,54849.000000,94399.000000,9.439900e+04,57827.000000,57826.000000,...,94399.000000,94399.000000,36572.000000,36572.000000,94399.000000,94399.000000,94399.000000,94399.000000,94298.000000,94298.000000
mean,1.893897,0.462081,6.077310,2.711713,1944.453287,2001.279185,1966.119747,8.885202e+05,1726.142269,1.251392,...,14.524073,2156.397822,2466.754293,925.339003,20012.104249,38.914096,-77.017286,5281.474571,-77.017311,38.914087
std,0.981790,0.580425,2.570125,1.317508,36.312240,16.049836,27.266891,6.620418e+06,825.789198,0.661387,...,3.697612,2717.883612,1161.520480,400.820137,15.826340,0.030545,0.040166,3293.665160,0.040160,0.030520
min,1.000000,0.000000,1.000000,1.000000,1754.000000,20.000000,1800.000000,1.000000e+00,407.000000,0.000000,...,11.000000,0.000000,1001.000000,238.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,1.000000,0.000000,4.000000,2.000000,1917.000000,1995.000000,1954.000000,2.500000e+05,1216.000000,1.000000,...,11.000000,555.000000,1571.000000,664.000000,20004.000000,38.895745,-77.042500,2201.000000,-77.042503,38.895574
50%,2.000000,0.000000,6.000000,3.000000,1938.000000,2006.000000,1966.000000,4.150000e+05,1504.000000,1.000000,...,13.000000,1445.000000,2343.000000,822.000000,20010.000000,38.914669,-77.020369,5002.000000,-77.020584,38.914881
75%,2.000000,1.000000,7.000000,3.000000,1965.000000,2011.000000,1981.000000,6.650000e+05,1984.000000,1.000000,...,17.000000,2641.000000,3012.000000,1082.000000,20017.000000,38.934324,-76.989612,8100.000000,-76.989493,38.934401
max,12.000000,11.000000,31.000000,20.000000,2018.000000,2019.000000,2018.000000,1.374275e+08,15902.000000,44.000000,...,117.000000,155905.000000,5621.000000,8553.000000,20392.000000,38.995435,-76.909758,11100.000000,-76.910511,38.993646